

.App{
  display: flex;
  justify-content: space-between;


}


/* File Controller section  */

.file-upload, .file-operation{
  background: #f7f7f7; 
  border: 1px solid #e3e3e3; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.file-operations-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  border: 2px solid blue;
  
}

 h4, h3{
  display: block;
  color: rgb(11, 126, 126);
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  
}
.temp-table{
  background-color: rgba(0, 255, 255, 0.253);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;

}

.header-section{
  text-align: center;
}